body{
    background-color: rgb(216, 218, 212);
    font-family: 'Shippori Mincho', serif;
    color: rgb(68, 94, 104);
}
h1{
    font-weight: 700;
    font-size:x-large;
    letter-spacing: 1em;
    
}
h2{
    font-weight: 700;
    font-size:x-large;
}
p{
    font-weight: 600;
    font-size:medium;
    letter-spacing: .2rem;
    line-height: 2em;
}

.vertical_space{
    /* outline: 1px solid rgb(0, 0, 0); */
    width: 100%;
    height: 100vh;
    padding-top: 48px;
    
    position: relative;
    
}



.poetry{
    position: absolute;
    right: 0;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    height: 500px;
    width: 100%;
    overflow-y: scroll;
    padding-top: 24px;
    padding-bottom: 24px;

   
   margin: 0;
   /* outline: 1px solid blueviolet; */
  

}
.session{
    /* outline: 1px solid salmon; */
    margin-left: 100px;
}
.pic{
    width: 400px;
    height: 400px;
    overflow: hidden;
    filter: grayscale(100);
}
.title{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 24px;
}




@media (min-width: 768px) {
    
    .poetry{
       
        height: 600px;
        width: 100%;
        
    }
    .pic{
        width: 500px;
        height: 500px;
      
    }

}